<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="watchmyrig.watchmyrig" android:installLocation="preferExternal" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
	<application android:label="Watch My Rig"></application>
</manifest>